/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
hgroup,
menu,
nav,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
nav {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: none;
  border: none;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes removed-item-animation {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes removed-item-animation {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes new-item-animation {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.sideNavigation {
  height: 100%;
  width: 215px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #232a34;
  overflow-x: hidden;
  border-right: 1px solid #4b4c4d;
}

.sideNavigation .logo {
  background: #2b333e;
  padding: 50px 40px;
}

.sideNavigation .logo img {
  width: 100%;
}

.sideNavigation #mainMenu li {
  padding-left: 40px;
  padding-right: 40px;
  min-height: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-color: #303947;
  border-bottom-width: 1px;
  border-style: solid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sideNavigation #mainMenu li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0px;
  font-style: normal;
  color: #505865;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sideNavigation #mainMenu li a svg {
  font-size: 33px;
  padding-bottom: 20px;
}

.sideNavigation #mainMenu li a.nav-active {
  color: #00bea3;
}

.sideNavigation #mainMenu li a:hover {
  color: #00bea3;
}

.mobileNavigation {
  display: none;
}

@media only screen and (max-width: 540px) {
  .sideNavigation {
    display: none;
  }
  .main {
    margin: 0px;
  }
  .mobileNavigation {
    height: auto;
    width: auto !important;
    margin: 0 !important;
    background-color: #232a34;
    display: block;
  }
  .mobileNavigation .mobileNavigation-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobileNavigation .mobileNavigation-items img {
    width: 100px;
  }
  .mobileNavigation .mobileNavigation-items svg {
    font-size: 30px;
    color: #00bea3;
  }
  .mobileNavigation #mainMenu {
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .mobileNavigation #mainMenu li {
    padding: 10px 30px;
    border-color: rgba(80, 88, 101, 0.2);
    border-bottom-width: 1px;
    border-style: solid;
    padding: 15px 30px;
  }
  .mobileNavigation #mainMenu li a {
    text-decoration: none;
    color: #00bea3;
    font-size: 17px;
    font-family: "Montserrat", sans-serif;
  }
  .mobileNavigation #mainMenu li a svg {
    display: none;
  }
  .mobileNavigation #mainMenu.activeMobileMenu {
    display: block;
  }
}

.btn {
  margin-top: 30px;
}

.btn a {
  background: #00bea3;
  color: #ffffff;
  padding: 17px 40px;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn a svg {
  margin-right: 5px;
}

.btn a:hover {
  background: #067d6c;
}

.btn--lg {
  margin-top: 80px;
}

.btn--lg a {
  line-height: 21px;
  font-size: 18px;
}

.btn--lg a svg {
  font-size: 25px;
}

.btn--full {
  margin-top: 0px;
}

.btn--full a {
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 768px) {
  .btn a {
    font-size: 13px;
  }
  .btn a svg {
    font-size: 16px;
  }
  .btn--lg {
    margin-top: 40px;
  }
}

.featuredPortfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  height: 100%;
  margin-bottom: 30px;
}

.featuredPortfolio a {
  position: relative;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.featuredPortfolio .gatsby-image-wrapper {
  height: 100%;
}

.featuredPortfolio__link {
  position: absolute;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(35, 42, 52, 0.9)), to(rgba(35, 42, 52, 0.9)));
  background-image: linear-gradient(to top, rgba(35, 42, 52, 0.9) 0, rgba(35, 42, 52, 0.9) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 100%;
  opacity: 0;
}

a:hover .featuredPortfolio__link {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .featuredPortfolio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.main {
  margin-left: 215px;
  font-size: 28px;
}

.heroArea {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroArea__image {
  position: absolute;
  z-index: 1;
  height: 100%;
}

.heroArea__image .gatsby-image-wrapper {
  height: 100%;
}

.heroArea__text {
  position: relative;
  z-index: 2;
  padding-left: 7%;
  padding-right: 7%;
  margin-left: 100px;
  color: #fff;
  max-width: 670px;
}

.heroArea__text h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: initial;
  margin-bottom: 50px;
}

.heroArea__text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.content-section {
  padding: 115px 10%;
}

.content-section#work .btn:last-child {
  margin-top: 100px;
}

.content-section.error {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.content-section h1 {
  color: #333c4e;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.content-section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 110px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.content-section h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 45px;
  letter-spacing: 2px;
}

.content-section h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  color: #333c4e;
}

.content-section h5 {
  letter-spacing: 1px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 700;
  color: #333c4e;
  font-size: 15px;
}

.content-section p {
  margin-bottom: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-style: normal;
  color: #7e8890;
  line-height: 37px;
}

.content-section--white {
  background-color: #fff;
}

.content-section--white h2 {
  color: #f2f2f2;
}

.content-section--white h3 {
  color: #333c4e;
}

.content-section--grey {
  background-color: #f2f2f2;
}

.content-section--grey h2 {
  color: #fff;
}

.content-section--grey h3 {
  color: #333c4e;
}

.content-section--dark {
  background-color: #1c212a;
}

.content-section--dark h2 {
  color: #282f3c;
}

.content-section--dark h3 {
  color: #fff;
}

.content-section .service-list__box h5 {
  color: #fff;
}

.content-section .service-list__box .separator {
  height: 2px;
  width: 100px;
  background: #f4ad24;
  margin-top: 10px;
  margin-bottom: 15px;
}

.content-section .service-list__box p {
  font-size: 15px;
}

.content-section.single-portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(auto, 34%);
      grid-template-columns: 1fr minmax(auto, 34%);
  gap: 30px;
  width: auto;
}

.content-section.single-portfolio img {
  width: 100%;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

.content-section.single-portfolio .portfolio-content p {
  font-size: 14px;
  color: #7e8890;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 30px;
}

.content-section.single-portfolio .portfolio-content__description {
  margin-bottom: 50px;
}

.content-section.single-portfolio .portfolio-content__details span {
  color: #00bea3;
  font-weight: normal;
}

.content-section.single-portfolio .portfolio-content__details.box {
  border-bottom: 1px solid #f4ad24;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .main {
    margin-left: 0px;
  }
  .heroArea__text {
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 768px) and (max-width: 768px) {
  .heroArea__text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .heroArea__text h1 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  .content-section {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media only screen and (max-width: 768px) and (max-width: 768px) {
  .content-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .content-section.portfolio-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) and (max-width: 768px) {
  .content-section.portfolio-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .content-section h1 {
    font-size: 36px;
  }
  .content-section h2 {
    font-size: 31px;
    margin-bottom: 10px;
  }
  .content-section h3 {
    font-size: 24px;
  }
  .content-section h4 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .content-section p {
    font-size: 18px;
  }
  .content-section.single-portfolio {
    padding-top: 40px;
    padding-bottom: 40px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) and (max-width: 768px) {
  .content-section.single-portfolio {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .content-section.single-portfolio .portfolio-content__description h4 {
    margin-bottom: 20px;
  }
}

footer {
  padding: 30px 0px;
  border-top: 1px solid #4b4c4d;
  background-color: #232a34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}

@media only screen and (max-width: 768px) {
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

footer p {
  color: #8c8989;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .socials a {
  width: calc(22px + (2 * (10px)) + 2px);
  padding: 10px;
  background-color: #00bea3 !important;
  border-color: #00bea3 !important;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-size: 22px;
  display: inline-block;
  line-height: 0;
  margin-right: 10px;
}

footer .socials a:last-child {
  margin-right: 0px;
}

@media only screen and (max-width: 768px) {
  footer {
    margin-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer p {
    margin-bottom: 10px;
  }
}

:root {
  --brightBlue: hsl(220, 98%, 61%);
}

html {
  scroll-behavior: smooth;
}

body a {
  color: #00bea3;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */