.btn {
  margin-top: 30px;

  a {
    background: #00bea3;
    color: #ffffff;
    padding: 17px 40px;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: fit-content;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    @include transition;

    svg {
      margin-right: 5px;
    }

    &:hover {
      background: #067d6c;
    }
  }

  &--lg {
    margin-top: 80px;

    a {
      line-height: 21px;
      font-size: 18px;

      svg {
        font-size: 25px;
      }
    }
  }

  &--full {
    margin-top: 0px;
    a {
      width: auto;
      justify-content: center;
    }
  }
}

.backBtn {
  align-items: center;
  display: flex;
  margin-bottom: 50px;
  font-size: 18px;

  svg {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .btn {
    a {
      font-size: 13px;
      svg {
        font-size: 16px;
      }
    }
    &--lg {
      margin-top: 40px;
    }
  }

  .backBtn {
    margin-bottom: 25px;
  }
}
