.slider {
  margin-top: 60px;
  position: relative;

  .slider-content {
    overflow: auto;
    white-space: nowrap;
    display: block;
    @include transition;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .featuredPortfolio {
    // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: block;

    a {
      @include transition;
      scroll-behavior: smooth;
      display: inline-block;
      max-width: 246px;
      max-height: 246px;
      margin-right: 30px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .slider-nav {
    button {
      height: 90px;
      background-color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      color: #fff;
      border: none;
      position: absolute;
      top: 50%;
      opacity: 0.8;
      width: 35px;
      @include transition;
      &.leftNav {
        left: 0;
      }
      &.rightNav {
        right: 0;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .slider {
    .featuredPortfolio {
      margin-bottom: 0px;

      a {
        display: inline-flex;
        width: 150px;
        margin-right: 30px;
      }
    }

    .slider-nav {
      button {
        height: 45px;
      }
    }
  }
}
